/********************
 Global Style Settings
 ********************/

@import "reset.css";
/* fonts */
@import "typography.css";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fbf1c7;
    color: #3c3836;
}

main {
    padding: 1rem;
    margin: 1rem;
    max-width: 60ch;
}


h1, h2, h3, h4 {
    font-family: "Alegreya SC", serif;
}

h2::before, h3::before, h4::before {
        content: "§";
}

main p{
    font-family: "Alegreya", serif;
    font-weight: normal;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

main code {
    font-family: "Jetbrains Mono", monospace;
    font-size: 1rem;
}
