
/* Maname */
@import url('https://fonts.googleapis.com/css2?family=Maname&display=swap');

/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* IBM Plex Mono Arabic */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

/* Full Versions */
@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/fonts/jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
